app2.py
app3.py
eventos.json
my_schedule_front\utils\__pycache__\utils.cpython-311.pyc
my_schedule_front\utils\__pycache__\utils2.cpython-311.pyc
my_schedule_front\utils\utils.py
my_schedule_front\utils\utils2.py
my_schedule_front\__pycache__\app2.cpython-311.pyc
my_schedule_front\__pycache__\app3.cpython-311.pyc
my_schedule_front\__pycache__\app.cpython-311.pyc
my_schedule_front\app.py
my_schedule_front\app2.py
my_schedule_front\app3.py
my_schedule_front\eventos.json
my_schedule_front\components\event_form1.py

.venv
credentials.txt
__pycache__/
bash.exe.stackdump